:root {
    --main-background-color: rgb(42, 42, 65);
    /*--main-text-color: rgb(17, 17, 17);*/
    --main-text-color: rgb(223, 223, 223);
}

@font-face {
    font-family: font-mulish;
    src: url("resources/font-mulish.ttf");
}

body {
    background-color: var(--main-background-color);
    font-family: font-mulish;
    color: var(--main-text-color);
}

h1 {
    text-align: center;
    padding-top: 1em;
}